:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-third: #2196F3;
    --color-background: #FFFFFF;
    --font-family: 'roboto', arial sans-serif;
    
}

body{
    background-color:var(--color-background);
    font-family: 'roboto';
}


.main-logo{
    color: #2196F3;
    color: #000000;
    font-weight: 700;
    line-height: 1.17;
    text-decoration-line: none;
    list-style-type: none;
    font-family: 'raleway';
}


.head-link{
    color: var(--color-third);
    text-decoration:none ;
    text-decoration-line: none;
    list-style-type: none;
    font-weight: 500;
}

.head-link:hover{
    text-decoration: underline; 

}
.header-link {
    color: var(--color-primary) ;
    text-decoration:none ;
    text-decoration-line: none;
    list-style-type: none;
    font-weight: 500;
}
.header-link:hover{
    text-decoration: underline; 
}
.hero-links{
    text-decoration-line: none;
    list-style-type: none;
    font-weight: 500;
}

.sub-links{
    list-style-type: none;
}

.subhero-links{
    font-family: 'roboto';
    list-style-type: none;
    color: var(--color-secondary);
    text-decoration-line: none;
    list-style-type: none;
    } 

.subhero-links:hover{
    text-decoration: underline;
}

.hero-title {
    line-height:1.36;
    width: 696px;
    height: 120px;
    font-weight: 900;
    color: var(--color-background);
    font-family: 'roboto', sans-serif;
    text-align: center;
    top: 280px;
    left: 452px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.hero-section {
   background-color: #2F303A;
   
}

.button {
    width: 216px;
    height: 30px;
    top: 430px;
    left: 692px;
    background-color: var(--color-third);
    color: var(--color-background);
    border-radius: 4%;
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
    width: 216px;
    height: 30px;
    top: 430px;
    left: 692px;
    background-color: var(--color-third);
    color: var(--color-background);
    border-radius: 4%;
}

.title-list{
    text-decoration-line: none;
    list-style-type: none;
}
    
    
.main-button{
    background-color: var(--color-third);
    color: var(--color-background);
    cursor: pointer;
    width: 73px;
    height: 38px;
    border-radius:4px
   
    
}

.main-logo{
    text-transform: uppercase;
    font-family: 'Raleway';
    list-style-type: none;
    text-decoration-line: none;
    text-transform: capitalize;
}
.web{
    text-transform: capitalize;
    color: var(--color-third);
    font-family: 'raleway';
    font-weight: 700;
}
.buttons-section{
    background-color: #FFFFFF;
}
.buttons { 
    color:#757575;
    cursor: pointer;
    width: 125px;
    height: 38px;
    border-radius:4px
    
}
.buttons-title{
    text-decoration-line: none;
    list-style-type: none;
}
.pictures{
    text-decoration-line: none;
    list-style-type: none;
    border: 1px solid #EEEEEE;
    background-color: #fff;
    font-weight: 400;
}
.heading-title {
    color: var(--color-primary);
    line-height: 1.17 ;

}

.heading_subtitle {
    color: var(--color-secondary);
    font-weight: 400;
}

.head-title{
    color: var(--color-primary);
    line-height: 1.1719;
}
.head-subtitle{
    color: var(--color-primary);
    line-height: 1.17 ;
    font-style: var(--font-family);
}

.img-title{
    text-decoration-line: none;
    list-style-type: none;
}

.team-title{
    text-decoration-line: none;
    list-style-type: none;
}
.text-subtitle{
    color: var(--color-secondary); 
    line-height: 1.17;
    font-style: var(--font-family);
    font-weight: 400;
}

.hero-footer{
    background-color: #2F303A;
    color: #FFFFFF;
   
}

.link-logo{
    text-transform: capitalize;
    color: #2196F3;
    color: #FFFFFF;
    line-height: 1.73;
    text-decoration-line: none;
    list-style-type: none;
    font-family: 'Raleway';
    list-style-type: none;
    text-decoration-line: none;
    font-weight: 700;
}

      
.link-adress{
    color: #FFFFFF;
    line-height: 1.714;
    font-family: 'roboto';
    font-style:normal;
    text-decoration-line: none;
    list-style-type: none;
    font-weight: 400;
}


.link-mail{
    color: #FFFFFF;
    line-height: 1.71;
    font-family: 'roboto';
    font-style:normal;
    text-decoration-line: none;
    list-style-type: none;
    font-weight: 400;
}
.link-adress:hover{
    
}


.link-mail:hover{
    list-style-type: none;
    
}
.link-tel{
    color: #FFFFFF;
    line-height: 1.714;
    font-style:normal;
    font-family: 'roboto';
    text-decoration-line: none;
    list-style-type: none;
    font-weight: 400;
}


.link-tel:hover{
    list-style-type: none;
}

.link-box{
    text-decoration-line: none;
    list-style-type: none;
}
